
    <section class="form-section-container">
      <div class="form-section">
        <form class="user-form" action="#" method="POST">
          <h2>Login</h2>
  
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
  
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
  
          <button type="submit">Login</button>
  
          <!-- Line of text for account creation -->
          <p class="create-account-text">
            Don't have an account? <a href="/signup">Create one here</a>.
          </p>
        </form>
      </div>
    </section>

  