<!-- views/partials/navigation.ejs -->
<header>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/login">Sign In</a>
    </nav>
  </header>
  
  <div class="container">
    <aside class="sidebar">
      <ul>
        <li><a href="/learning-objectives">Learning Objectives</a></li>
        <li><a href="/course-map">Course Map</a></li>
        <li><a href="#">Placeholder 1</a></li>
        <li><a href="#">Placeholder 2</a></li>
        <li><a href="#">Placeholder 3</a></li>
      </ul>
    </aside>
  
  